@model ComplectPlus.Models.Seller

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>Поставщик</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerUrName" class="control-label"></label>
                <input asp-for="SellerUrName" class="form-control" />
                <span asp-validation-for="SellerUrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerAdress" class="control-label"></label>
                <input asp-for="SellerAdress" class="form-control" />
                <span asp-validation-for="SellerAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
